<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>Relay</title>
</head>
<body>
    <div class="footer">
        <div class="footer1">
            <a href="/" class="nav-link">Home</a>
            <a href="/project" class="nav-link">Project</a>
        </div>
        <a href="/"><img src="/R.png" alt="Relay Icon" height="70px" width="70px"></a>
        <div class="footer2">
            <a href="/users/signin" class="nav-link">Sign In</a>
            <a href="/users/signout" class="nav-link">Sign Out</a>
        </div>
    </div>
</body>
</html>