


body{
    background-image: linear-gradient( white, rgb(219, 214, 214));
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(60, 60, 60);
    font-family:'Lexend', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: rgba(255, 255, 255, .50);
    color: rgba(16,105, 217);
    border: 1px outset rgba(16,105, 217);  
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
}

.nav-link{
    padding: 10px;
    font-weight: 600;
}

h1{
    font-family:'Lexend', sans-serif;
    font-weight:800;
    font-size: 54px;
}

a:hover {
    text-decoration: underline;
}

a{
    color: rgba(16,105, 217); 
    text-decoration: none;
}




table{
    border: 1px outset rgba(16,105, 217);
    background-color: rgba(255, 255, 255, .70);
    min-width: 500px;
    border-radius: 8px;
}


th {
    background-color: rgba(44, 42, 42, .5);
    color: rgba(16,105, 217);
    padding: 10px;
    border: rgba(44, 42, 42, .5);
}

tr {
    text-align: center;
}

td {
    padding: 5px;
}
.btn {
   background-color: rgba(16,105, 217);
   border: 2px outset rgb(255, 255, 255);
   font-family:'Lexend', sans-serif;
   padding:10px;
   margin: 5px;
   border-radius: 5px;
   color: white;
    
}


.show-table{
    justify-content: left;
    flex-direction: row;
    flex-wrap: nowrap;
}

ul {
    align-items: left;
}

li{
    padding: 5px;
    align-items: left;

}

fieldset{
    border: 2px outset rgba(16,105, 217);
}

legend {
    font-weight: 600;
}

input{
    color:rgba(16,105, 217);
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(16,105, 217);
    border-radius: 5px;
    font-size: medium;
    font-family:'Lexend', sans-serif;
}

textarea{
    color:rgba(16,105, 217);
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(16,105, 217);
    border-radius: 5px;
    font-size: medium;
    font-family:'Lexend', sans-serif;
    
}

