


body{
    background-image: linear-gradient(to bottom right, rgb(0, 149, 255), rgb(44, 42, 42));
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family:'Lexend', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: rgba(255, 255, 255, .50);
    color: blue;
    border: 1px outset white;    
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
}

.nav-link{
    padding: 10px;
    font-weight: 600;
}

h1{
    font-family:'Lexend', sans-serif;
    font-weight:800;
    font-size: 54px;
}

a:hover {
    text-decoration: underline;
}

a{
    color: rgb(21, 97, 229); 
    text-decoration: none;
}




table{
    border: 1px outset white;
    background-color: rgba(255, 255, 255, .50);
    min-width: 500px;
    border-radius: 8px;
}


th {
    background-color: rgb(44, 42, 42);
    color: white;
    padding: 10px;
    border: none;
}

tr {
    text-align: center;
}

td {
    padding: 5px;
}
.btn {
   background-color: rgb(44, 42, 42);
   border: 2px outset rgb(255, 255, 255);
   font-family:'Lexend', sans-serif;
   padding:10px;
   margin: 5px;
   border-radius: 5px;
   color: white;
    
}


.show-table{
    justify-content: left;
    flex-direction: row;
    flex-wrap: nowrap;
}

ul {
    align-items: left;
}

li{
    padding: 5px;
    align-items: left;

}

fieldset{
    border: 2px outset rgb(44, 42, 42);
}

legend {
    font-weight: 600;
}

input{
    color:rgb(21, 97, 229);
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(21, 97, 229);
    border-radius: 5px;
    font-size: medium;
    font-family:'Lexend', sans-serif;
}

textarea{
    color:rgb(21, 97, 229);
    margin: 5px;
    padding: 5px;
    border: 1px solid rgb(21, 97, 229);
    border-radius: 5px;
    font-size: medium;
    font-family:'Lexend', sans-serif;
    
}

