body {
    background-image: linear-gradient(white, rgb(219, 214, 214));
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(60, 60, 60);
    font-family: 'Lexend', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    background-color: rgba(255, 255, 255, .50);
    color: rgba(16, 105, 217);
    border: 1px outset rgba(16, 105, 217);
    border-radius: 6px;
    margin: 10px;
    padding: 5px;
}

.project-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
}

.progress {
    padding: 5px;
    border-radius: 36px;
}

.nav-link {
    padding: 10px;
    font-weight: 600;
}

h1 {
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
    font-size: 54px;
}

a:hover {
    text-decoration: underline;
}

a {
    color: rgba(16, 105, 217);
    text-decoration: none;
}

p {
    padding: 5px
}


table {
    border: 1px outset rgba(16, 105, 217);
    background-color: rgba(255, 255, 255, .70);
    border-radius: 8px;
    max-width: 500px;
}


th {
    background-color: rgba(44, 42, 42, .2);
    color: rgba(16, 105, 217);
    padding: 10px;
    border: 1px rgba(44, 42, 42, 0.2);
}

tr {
    text-align: center;
}

td {
    padding: 5px;
    font-weight: 500;
}

.btn {
    background-color: rgba(16, 105, 217);
    border: 2px outset rgb(255, 255, 255);
    font-family: 'Lexend', sans-serif;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    color: white;

}


.show-table {
    display: flex;
    justify-content: left;
    flex-direction: row;
    flex-wrap: nowrap;
}

ul {
    display: flex;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
}

li {
    display: flex;
    padding: 5px;
    align-items: left;
    flex-wrap: nowrap;
    flex-direction: column;
    font-weight: 400;

}

fieldset {
    border: 2px outset rgba(16, 105, 217);
    padding: 5px;
    margin: 5px;
}

legend {
    font-weight: 600;
}

input {
    color: rgba(16, 105, 217);
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(16, 105, 217);
    border-radius: 5px;
    font-size: medium;
    font-family: 'Lexend', sans-serif;
}

textarea {
    color: rgba(16, 105, 217);
    margin: 5px;
    padding: 5px;
    border: 1px solid rgba(16, 105, 217);
    border-radius: 5px;
    font-size: medium;
    font-family: 'Lexend', sans-serif;

}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, .50);
    color: rgba(16, 105, 217);
    border: 1px outset rgba(16, 105, 217);
    border-radius: 6px;
    margin: 10px;
}

img {
    padding: 1px;

}

.homescreen {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, .50);
    color: rgba(16, 105, 217);
    border: 1px outset rgba(16, 105, 217);
    border-radius: 6px;
    margin: 10px;
    min-width: 350px;

}


.homenav {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 5px;
    margin: 10px;
    font-size: 18px;
}

.task-info{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    max-width: 350px;
}