<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include ("../partials/header.ejs")%>


    <div class="login">
      <p>Sign in to create, update, or delete tasks. </br> If you do not yet have an account, <a href="/users/register">register here</a>. </p>
        <form action="/users/signin" method="POST">
          <fieldset class="singnin">
            <legend>Sign In</legend>
            <label for="username">Username: </label>
            <input type="text" name="username" /> </br>
            <label for="password">Password: </label>
            <input type="text" name="password"></br>
          </fieldset>
          <input type="submit" value="Sign In" class="btn">

        </form>
      

      </div>
</body>
</html>